<?xml version="1.0" encoding="UTF-8" ?>  <!--这里是映射文件 ！！！ -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里面主要写的是sql语句 -->
<mapper namespace="com.s3.mapper.UserMapper">  <!--这里和mapper接口对应上了 -->

    <!--    mapper接口与映射文件对应-->
    <!--    接口中的方法与id一致-->
    <!--    配置文件中的引入映射文件与映射文件对应-->
    <insert id="saveLogon">
        insert into memberinfo(nickName,pwd,email,regDate,status,tel) values(#{nickName},#{pwd},#{email},#{regDate},1,13333333333)
    </insert>

</mapper>