
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>菜谱小类信息</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/basic.css" rel="stylesheet"/>
    <link href="../css/custom.css" rel="stylesheet"/>
    <link href="../css/element/index.css" rel="stylesheet"/>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后端管理系统</a>
        </div>

        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn-info" @click="logout" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>

        <!--        <div class="header-right">-->
        <!--            <a href="javascript:void(0)" class="btn btn-info" title="跳转到个人信息" @click="personalPage">-->
        <!--                <i class="fa fa-user fa-2x"></i>-->
        <!--            </a>-->
        <!--        </div>-->

        <div class="header-right" style="padding-top: 25px">欢迎你，{{ user.name }}</div>

        <!--        <div class="header-left">-->
        <!--            <a href="/static/front/index.html" class="btn btn-info" title="跳转到首页">-->
        <!--                <i class="fa fa-dot-circle-o fa-2x"></i>-->
        <!--            </a>-->
        <!--        </div>-->
    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i>系统首页</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>信息展示 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li>
                            <a href="adminInfo.html"><i class="fa fa-table"></i>管理员信息</a>
                        </li>
                        <li>
                            <a href="userManage.html"><i class="fa fa-table"></i>用户信息</a>
                        </li>
                        <li>
                            <a href="classifyInfo.html"><i class="fa fa-table"></i>菜谱大类信息</a>
                        </li>
                        <li>
                            <a href="subClassifyInfo.html" class="active-menu"><i class="fa fa-table"></i>菜谱小类信息</a>
                        </li>
                        <li>
                            <a href="foodsMenuInfo.html"><i class="fa fa-table"></i>菜谱信息</a>
                        </li>
                        <!--						<li>-->
                        <!--							<a href="foodsMaterialInfo.html"><i class="fa fa-table"></i>食材信息</a>-->
                        <!--						</li>-->
                        <!--						<li>-->
                        <!--							<a href="collectInfo.html"><i class="fa fa-table"></i>收藏信息</a>-->
                        <!--						</li>-->
                        <!--						<li>-->
                        <!--							<a href="praiseInfo.html"><i class="fa fa-table"></i>笔记点赞信息</a>-->
                        <!--						</li>-->
                        <!--						<li>-->
                        <!--							<a href="notesInfo.html"><i class="fa fa-table"></i>笔记信息</a>-->
                        <!--						</li>-->
                        <!--						<li>-->
                        <!--							<a href="newsInfo.html"><i class="fa fa-table"></i>饮食资讯信息</a>-->
                        <!--						</li>-->
                        <li>
                            <a href="advertiserInfo.html"><i class="fa fa-table"></i>公告信息</a>
                        </li>
                        <!--						<li>-->
                        <!--							<a href="messageInfo.html"><i class="fa fa-table"></i>趣味答题信息</a>-->
                        <!--						</li>-->

                        <!--                        <li>-->
                        <!--                            <a href="javascript:void(0)" @click="personalPage"><i class="fa fa-user"></i>个人信息</a>-->
                        <!--                        </li>-->
                    </ul>
                </li>
                <!--				<li>-->
                <!--					<a href="notesInfoComment.html"><i class="fa fa-file"></i>笔记信息评论</a>-->
                <!--				</li>-->

                <li>
                    <a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>修改密码</a>
                </li>
                <li>
                    <a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-subhead-line">这是菜谱小类信息，可以管理菜谱小类。 </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            菜谱小类信息表
                        </div>

                        <el-button type="text" @click="subClassifyInfo = {},dialogFormVisible2 = true">新增数据</el-button>
                        <el-dialog title="新增菜谱小类" :visible.sync="dialogFormVisible2" :modal-append-to-body="abcd">
                            <el-form :model="subClassifyInfo" size="mini">
                                <el-form-item label="菜谱小类名:" label-width="100px">
                                    <el-input v-model="subClassifyInfo.name" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="描述:" label-width="100px">
                                    <el-input v-model="subClassifyInfo.description" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="所属大类:" label-width="100px">
                                    <el-select v-model="subClassifyInfo.classifyId">
                                        <el-option
                                                v-for="item in classifysInfo"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible2 = false">取 消</el-button>
                                <el-button type="primary" @click="addClassify(),dialogFormVisible2 = false">确 定</el-button>
                            </div>
                        </el-dialog>

                        <template>
                            <el-table
                                    :data="subClassifysInfo"
                                    style="width: 100%"
                                    max-height="415">
                                <el-table-column
                                        fixed
                                        prop="id"
                                        label="编号"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="类别"
                                        width="300">
                                </el-table-column>
                                <el-table-column
                                        prop="description"
                                        label="描述"
                                        width="300">
                                </el-table-column>
                                <el-table-column
                                        prop="classifyId"
                                        label="所属大类id"
                                        width="300">
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="操作"
                                        width="300">
                                    <template slot-scope="scope">
                                        <el-button type="text" @click="subClassifyInfo = subClassifysInfo[scope.$index],deletex = true">删除</el-button>
                                        <el-dialog
                                                title="警告"
                                                :visible.sync="deletex"
                                                :modal-append-to-body="abcd"
                                                width="30%">
                                            <span>是否确定删除{{subClassifyInfo.name}}?</span>
                                            <span slot="footer" class="dialog-footer">
                                                <el-button @click="deletex = false">取 消</el-button>
                                                <el-button type="primary" @click="deleteClassify(subClassifyInfo.id),deletex = false">确 定</el-button>
                                            </span>
                                        </el-dialog>



                                        <el-button type="text" @click="subClassifyInfo = subClassifysInfo[scope.$index],dialogFormVisible = true">修改菜谱大类</el-button>
                                        <el-dialog title="修改数据" :visible.sync="dialogFormVisible" :modal-append-to-body="abcd">
                                            <el-form :model="subClassifyInfo" size="mini">
                                                <el-form-item label="菜谱小类名称:" label-width="100px">
                                                    <el-input v-model="subClassifyInfo.name" autocomplete="off"></el-input>
                                                </el-form-item>
                                                <el-form-item label="菜谱小类描述:" label-width="100px">
                                                    <el-input v-model="subClassifyInfo.description" autocomplete="off"></el-input>
                                                </el-form-item>
                                                <el-form-item label="所属大类:" label-width="100px">
                                                    <el-select v-model="subClassifyInfo.classifyId">
                                                        <el-option
                                                                v-for="item in classifysInfo"
                                                                :key="item.id"
                                                                :label="item.name"
                                                                :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-form>
                                            <div slot="footer" class="dialog-footer">
                                                <el-button @click="dialogFormVisible = false">取 消</el-button>
                                                <el-button type="primary" @click="updateClassifyInfo(),dialogFormVisible = false">确 定</el-button>
                                            </div>
                                        </el-dialog>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    let vm = new Vue({
        el: '#wrapper',
        data: {
            user: {},
            abcd: false,
            classifysInfo: [],
            subClassifyInfo:{},
            subClassifysInfo:[],
            dialogFormVisible2:false,
            deletex:false,
            dialogFormVisible:false
        },
        methods: {
            getDatas(){
                axios.post("/background/getSubClassifyInfo.admin").then(data => {
                    if(data.data.code == 1){
                        this.subClassifysInfo = data.data.data;
                        axios.post("/background/getClassifyInfo.admin").then(data => {
                            if(data.data.code == 1){
                                this.classifysInfo = data.data.data;
                            }else{
                                this.$message.error(data.data.msg);
                            }
                        })
                    }else{
                        this.$message.error(data.data.msg);
                    }
                })
            },
            addClassify(){
                let params = new URLSearchParams(this.subClassifyInfo);
                axios.post("/background/addSubClassifyInfo.admin",params).then(data => {
                    if(data.data.code == 1){
                        this.$message.success("添加成功");
                        this.getDatas();
                    }else {
                        this.$message.error(data.data.msg);
                    }
                })
            },
            deleteClassify(id){
                let params = new URLSearchParams();
                params.append("id",id);
                axios.post("/background/deleteSubClassifyInfo.admin",params).then(data =>{
                    if(data.data.code == 1){
                        this.$message.success("删除成功");
                        this.getDatas();
                    }else {
                        this.$message.error(data.data.msg);
                    }
                })
            },
            updateClassifyInfo(){
                let params = new URLSearchParams(this.subClassifyInfo);
                axios.post("/background/updateSubClassifyInfo.admin",params).then(data =>{
                    if(data.data.code == 1){
                        this.$message.success("修改成功");
                        this.getDatas();
                    }else {
                        this.$message.error(data.data.msg);
                    }
                })
            }
        },
        mounted(){
            axios.all([this.getDatas()]).then();
        }
    })
</script>
</body>
</html>